
<p class = "tej"><%=
rando = 0
currentBlague = @blagues[rand(1..@blagues.length()) -1].content
%></p>

<div class = "blague">
  <p><%= currentBlague %></p>
</div>

<div class = "blague">
  <button class = "rire"><%= link_to "faites moi rire", "../acceuil/index"%></button>
</div>
