<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Epilogue>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
